version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: notif
      POSTGRES_PASSWORD: notif
      POSTGRES_DB: notifdb
    ports: ["5432:5432"]
  dbgate:
    image: dbgate/dbgate
    ports:
      - "3000:3000"
    environment:
      START_HIDDEN_CONNECTIONS: |
        [
          {
            "name": "notifdb",
            "engine": "postgres",
            "host": "db",
            "user": "notif",
            "password": "notif",
            "database": "notifdb",
            "port": 5432
          }
        ]
  broker:
    image: apache/kafka:latest
    hostname: broker
    container_name: broker
    ports:
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:29093
      KAFKA_LISTENERS: PLAINTEXT://broker:29092,CONTROLLER://broker:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2QkMyQjA=  # FIXED
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: broker:29092
      KAFKA_CLUSTERS_0_ZOOKEEPER: ""
    depends_on:
      - broker

  web:
    build: .
    volumes: [".:/app"]
    ports: ["8000:8000"]
    environment:
      - DATABASE_URL=postgresql+asyncpg://notif:notif@db:5432/notifdb
    depends_on: 
      - db
      - broker

  consumer:
    build: .
    command: ["python", "app/tasks.py"]
    environment:
      - DATABASE_URL=postgresql+asyncpg://notif:notif@db:5432/notifdb
    depends_on:
      db:
        condition: service_started
      broker:
        condition: service_started